@font-face{font-family: heading;src: url('bauhaus.ttf');} 

.ui-header h1 {
    margin:0 auto ;
}

.ui-bar-a h1 {
    padding:5px ;
    font-family:heading ;
    font-size: 70px ;
    
}

li.ui-bar-c{
    padding:10px 20px;
    font-size:25px ;
}

li.ui-bar-c a {
    color:inherit ;
    text-decoration:none ;
    text-decoration: none ;
}

h1.headline {
    margin-left: 2px ;
    
}

#options {
    right:10px ;
    top:50% ;
    margin-top:-15px ;
}

.header a ui-icon {
    width:25px ;
    height:25px ;
    border:solid red 1px ;
}

.notif-li{
    padding:10px ;
    border:solid 1px #ccc;
    border-top:none ;
}

#register {
    display: block ;
    width:90% ;
    top:50% ;
    right: 50% ;
    background: #fff ;
    border-radius: 15px ;
    margin-right: -45% ;
}

#register div {
    border-radius:15px ;
    display:none ;
}

#reg-btn {
    padding:10px ;
}

#register div form input {
    margin:5px ;
    width:100% ;
    border-radius: 10px ;
    border:solid #eee 1px ;
    font-size: 1.2em ;
}

.unreachable {
    
    z-index:100 ;
}